<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Use this site to get your weather!</p>

        <form action="">
            <input type="text" placeholder="Your Location">
            <button>Search</button>
        </form>

        <h2 class="title"></h2>
        <p class="load" style="display:none">Searching...</p>
        <img src="/img/happy-duck.jpg" class="goodDuck" style="display:none; margin: 40px 0" width="200">
        <img src="/img/sad-duck.jpg" class="notGoodDuck" style="display:none; margin: 40px 0" width="200">
        <p class="p1"></p>
        <p class="p2"></p>
    </div>

    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>